Repository eclipse/xtext-xtend, pull requests merged in 2018-09, with the labels that each got.

#555 updated versions to 2.16.0
  gradle/versions.gradle
  maven-pom.xml
  org.eclipse.xtend.caliper.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.caliper.tests/pom.xml
  org.eclipse.xtend.core.tests.java8/META-INF/MANIFEST.MF
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/pom.xml
  org.eclipse.xtend.doc/META-INF/MANIFEST.MF
  org.eclipse.xtend.doc/pom.xml
  org.eclipse.xtend.examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/pom.xml
  org.eclipse.xtend.examples/projects/xtend-annotation-examples-client/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/pom.xml
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/pom.xml
  org.eclipse.xtend.ide.tests.data/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests.data/pom.xml
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/pom.xml
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/pom.xml
  org.eclipse.xtend.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtend.m2e/pom.xml
  org.eclipse.xtend.maven.android.archetype/pom.xml
  org.eclipse.xtend.maven.archetype/pom.xml
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.performance.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.performance.tests/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtend.standalone/pom.xml
  org.eclipse.xtend.swtbot/META-INF/MANIFEST.MF
  org.eclipse.xtend.swtbot/pom.xml
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.p2-repository/category.xml
  releng/org.eclipse.xtend.p2-repository/pom.xml
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
  tycho-pom.xml
Labels: releng

#569 [eclipse/xtext#1297] update to gradle 4.10
  gradle/wrapper/gradle-wrapper.properties
Labels: releng

#574 Reimplemented JavaIDValueConverter
  org.eclipse.xtend.caliper.tests/src/org/eclipse/xtend/caliper/tests/conversion/JavaIDValueConverterBenchmark.java
  org.eclipse.xtend.caliper.tests/src/org/eclipse/xtend/caliper/tests/conversion/OldJavaIDValueConverter.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/conversion/JavaIDValueConverter.java
Labels: enhancement

#577 [#554] Ensure static and final modifiers generated in the right order.
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/AnnotationCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/AnonymousClassCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug437678Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/XtendCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/macro/declaration/ConstantExpressionsInterpreterTest.xtend
  org.eclipse.xtend.core.tests/testdata/test/Constants1.java
  org.eclipse.xtend.core.tests/testdata/testdata/Constants1.java
  org.eclipse.xtend.core.tests/testdata/types/StaticOuterClass.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/AnnotationCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/AnonymousClassCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug437678Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/XtendCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/macro/declaration/ConstantExpressionsInterpreterTest.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/compiler/XtendGenerator.xtend
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/compiler/XtendGenerator.java
Labels: refactoring

#566 [eclipse/xtext#1224] Detect local Jenkins environment
  Jenkinsfile
  gradle/bootstrap-setup.gradle
  gradle/upstream-repositories.gradle
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#570 [eclipse/xtext#1298] updated to 2018-09/4.9 final
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201809.target
Labels: releng
