Repository eclipse/xtext-xtend, pull requests merged in 2019-12, with the labels that each got.

#970 [releng] Update Xtext version to 2.21.0
  gradle/versions.gradle
  maven-pom.xml
  org.eclipse.xtend.core.tests.java8/META-INF/MANIFEST.MF
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/pom.xml
  org.eclipse.xtend.doc/META-INF/MANIFEST.MF
  org.eclipse.xtend.doc/pom.xml
  org.eclipse.xtend.examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/pom.xml
  org.eclipse.xtend.examples/projects/xtend-annotation-examples-client/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/pom.xml
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/pom.xml
  org.eclipse.xtend.ide.tests.data/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests.data/pom.xml
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/pom.xml
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/pom.xml
  org.eclipse.xtend.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtend.m2e/pom.xml
  org.eclipse.xtend.maven.archetype/pom.xml
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  org.eclipse.xtend.performance.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.performance.tests/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtend.standalone/pom.xml
  org.eclipse.xtend.swtbot/META-INF/MANIFEST.MF
  org.eclipse.xtend.swtbot/pom.xml
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.p2-repository/category.xml
  releng/org.eclipse.xtend.p2-repository/pom.xml
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
  tycho-pom.xml
Labels: bot, releng

#971 [eclipse/xtext#1603] create target for r201912
  Jenkinsfile
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201912.target
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#973 [releng] Bootstrap against 2.20.0
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: bot, releng

#974 [eclipse/xtext#1604] use 4.15 I-builds
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#981 Kt xtend issue942 suppress modifiers
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug447516Test.xtend
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug457333Test.xtend
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug457346Test.xtend
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug457539Test.xtend
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/compiler/Java8CompilerTest2.xtend
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug447516Test.java
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug457333Test.java
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug457346Test.java
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/compiler/CompilerBug457539Test.java
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/compiler/Java8CompilerTest2.java
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/AnonymousClassCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug410555Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug441096Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug447516Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug457333Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug457346Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug457539Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug459920Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug464264Test.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBugTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/Java8OverloadCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/NestedClassCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/XtendCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/macro/Bug467063Test.xtend
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/AnonymousClassCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug410555Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug441096Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug447516Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug457333Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug457346Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug457539Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug459920Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug464264Test.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBugTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/Java8OverloadCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/NestedClassCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/XtendCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/macro/Bug467063Test.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/compiler/XtendGenerator.xtend
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/compiler/XtendGenerator.java
Labels: enhancement

#982 [eclipse/xtext#1604] updated to 2020-03 simrel update site
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng
