Repository eclipse/xtext-xtend, pull requests merged in 2019-01, with the labels that each got.

#689 [#671] Add Quickfix to the 'unused private member' validation issue.
  org.eclipse.xtend.ide.tests/longrunning/src/org/eclipse/xtend/ide/tests/quickfix/QuickfixTest.xtend
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/quickfix/QuickfixTest.java
  org.eclipse.xtend.ide/icons/delete_edit.png
  org.eclipse.xtend.ide/icons/delete_edit@2x.png
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/quickfix/XtendQuickfixProvider.java
Labels: new_feature

#693 [https://github.com/eclipse/xtext/issues/1330] Update developers section
  gradle/developers.gradle
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: releng

#692 [#688] Simplify IT tests
  1-gradle-build.sh
  2-maven-build.sh
  Jenkinsfile
  org.eclipse.xtend.maven.plugin/src/test/java/org/eclipse/xtend/maven/MavenVerifierUtil.java
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/aggregation/my-module/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/aggregation/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/aggregation/relativeoutput-module/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/encoding/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/filesystemaccess-client/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/filesystemaccess/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/macros/client/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/macros/lib/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/macros/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/multisources/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/simple/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/suppress_warnings_annotation/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/symlinks/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/trace_disabled/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/trace_enabled/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/trace_withtestsrc/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/withtestsrc/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/xtend-prefs-unused/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/xtend-prefs/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/xtenderrors/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/compile/xtendwarnings/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/install_debug_info/simple_smap/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/install_debug_info/smap_multisource/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/install_debug_info/xtend_as_primary/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/install_debug_info/xtend_as_primary_with_synthetic_vars/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
Labels: refactoring

#686 [eclipse/xtext#1382] Bootstrap against 2.17.0.M1
  gradle/versions.gradle
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#681 [eclipse/xtext#1372] Use 2019-03 in target platforms
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng
