Repository eclipse/xtext-xtend, pull requests merged in 2020-03, with the labels that each got.

#1016 [releng] Update Xtext version to 2.22.0
  gradle/versions.gradle
  maven-pom.xml
  org.eclipse.xtend.core.tests.java8/META-INF/MANIFEST.MF
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/pom.xml
  org.eclipse.xtend.doc/META-INF/MANIFEST.MF
  org.eclipse.xtend.doc/pom.xml
  org.eclipse.xtend.examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/pom.xml
  org.eclipse.xtend.examples/projects/xtend-annotation-examples-client/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/pom.xml
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/pom.xml
  org.eclipse.xtend.ide.tests.data/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests.data/pom.xml
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/pom.xml
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/pom.xml
  org.eclipse.xtend.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtend.m2e/pom.xml
  org.eclipse.xtend.maven.archetype/pom.xml
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  org.eclipse.xtend.performance.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.performance.tests/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtend.standalone/pom.xml
  org.eclipse.xtend.swtbot/META-INF/MANIFEST.MF
  org.eclipse.xtend.swtbot/pom.xml
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.p2-repository/category.xml
  releng/org.eclipse.xtend.p2-repository/pom.xml
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
  tycho-pom.xml
Labels: bot, releng

#1020 [eclipse/xtext#1686] prepared R2020-03 release target platform
  Jenkinsfile
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202003.target
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1021 [eclipse/xtext#1685] use 4.16 ibuilds in latest target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1009 [eclipse/xtext-eclipse#1027] change getAdapter(..) to Adapters.adapt(..)
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/wizards/FieldInitializerUtil.java
Labels: enhancement, refactoring

#1026 bumped maven javadoc plugin
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: releng

#1027 [eclipse/xtext#1685] use 2020-06 update site
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1030 [eclipse/xtext#1682] update orbit to 2020-06
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-oxygen.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-photon.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201809.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201812.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201903.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201906.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201909.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201912.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202003.target
Labels: releng
