Repository eclipse/xtext-xtend, pull requests merged in 2020-05, with the labels that each got.

#1043 [eclipse/xtext-core#1462] Regenerated languages
  org.eclipse.xtend.core/src-gen/org/eclipse/xtend/core/parser/antlr/internal/InternalXtend.g
  org.eclipse.xtend.core/src-gen/org/eclipse/xtend/core/parser/antlr/internal/InternalXtendParser.java
Labels: bug

#1045 [releng] Bootstrap against 2.22.0.M2
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: bot, releng

#1047 [eclipse/xtext#1738] removed no longer needed icu dependency
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
Labels: releng

#1049 [eclipse/xtext#1765] update to MWE 2.11.3.M3
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1051 [#1050] Xtend precompile step should not blindly run annotations processors by default
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/compiler/batch/XtendBatchCompiler.java
  org.eclipse.xtend.maven.plugin/src/main/java/org/eclipse/xtend/maven/AbstractXtendCompilerMojo.java
Labels: bug, enhancement

#1054 [eclipse/xtext#1770] update to mwe 2.11.3 final
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1056 [releng] Bootstrap against 2.22.0.M3
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: bot, releng

#1057 [eclipse/xtext#1769] Removed jnlp image name from pod template
  Jenkinsfile
Labels: releng
