Repository eclipse/xtext-xtend, pull requests merged in 2020-06, with the labels that each got.

#1063 [releng] Update Xtext version to 2.23.0
  gradle/versions.gradle
  maven-pom.xml
  org.eclipse.xtend.core.tests.java8/META-INF/MANIFEST.MF
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/pom.xml
  org.eclipse.xtend.doc/META-INF/MANIFEST.MF
  org.eclipse.xtend.doc/pom.xml
  org.eclipse.xtend.examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/pom.xml
  org.eclipse.xtend.examples/projects/xtend-annotation-examples-client/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/pom.xml
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/pom.xml
  org.eclipse.xtend.ide.tests.data/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests.data/pom.xml
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/pom.xml
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/pom.xml
  org.eclipse.xtend.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtend.m2e/pom.xml
  org.eclipse.xtend.maven.archetype/pom.xml
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  org.eclipse.xtend.performance.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.performance.tests/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtend.standalone/pom.xml
  org.eclipse.xtend.swtbot/META-INF/MANIFEST.MF
  org.eclipse.xtend.swtbot/pom.xml
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.p2-repository/category.xml
  releng/org.eclipse.xtend.p2-repository/pom.xml
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
  tycho-pom.xml
Labels: bot, releng

#1064 [eclipse/xtext#1785] created r202006 tp
  Jenkinsfile
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202006.target
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1037 [#1035] Missing validations in context of static interface methods
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/validation/Java8ValidationTest.xtend
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/validation/Java8ValidationTest.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/validation/XtendValidator.java
Labels: bug

#1071 [eclipse/xtext#1781] update orbit to 2020-09
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-oxygen.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-photon.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201809.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201812.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201903.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201906.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201909.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201912.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202003.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202006.target
Labels: releng

#1070 [eclipse/xtext#1801] increase build timeout
  Jenkinsfile
Labels: releng

#1072 [eclipse/xtext#1784] use download.eclipse.org/releases/2020-09 in latest
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1074 [#903] Allow to ask methods for their base method
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/macro/declaration/JvmBasedDeclarations.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/macro/declaration/XtendBasedDeclarations.xtend
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/declaration/JvmMethodDeclarationImpl.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/declaration/XtendMethodDeclarationImpl.java
Labels: new_feature

#1076 [#1075] Provide missing implementation for MethodDeclaration
  org.eclipse.xtend.core.tests.java8/src/org/eclipse/xtend/core/tests/java8/macro/DeclarationsTest.xtend
  org.eclipse.xtend.core.tests.java8/xtend-gen/org/eclipse/xtend/core/tests/java8/macro/DeclarationsTest.java
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/macro/declaration/DeclarationsTest.xtend
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/macro/declaration/DeclarationsTest.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/macro/declaration/XtendBasedDeclarations.xtend
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/declaration/ResolvedParameterImpl.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/declaration/XtendMethodDeclarationImpl.java
  org.eclipse.xtend.ide/xtend-gen/org/eclipse/xtend/ide/codebuilder/AbstractClassBuilder.java
  org.eclipse.xtend.ide/xtend-gen/org/eclipse/xtend/ide/codebuilder/AbstractCodeBuilder.java
  org.eclipse.xtend.ide/xtend-gen/org/eclipse/xtend/ide/codebuilder/AbstractInterfaceBuilder.java
Labels: new_feature
