Repository eclipse/xtext-xtend, pull requests merged in 2022-04, with the labels that each got.

#1312 get rid of commons.lang
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/outline/AbstractMultiModeOutlineTreeProvider.java
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1313 bump maven-clean-plugin from 3.0.0 to 3.2.0
  org.eclipse.xtend.examples/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1314 [eclipse/xtext#2028] switch to reload4j
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
Labels: releng

#1316 [eclipse/xtext#2051] update to gradle 7.4.2
  gradle/wrapper/gradle-wrapper.properties
Labels: releng

#1318 [eclipse/xtext#2054] bootstrap against mwe 2.13.0.M1
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1320 update to tycho 2.7.1
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1324 [releng] Bootstrap against 2.27.0.M1
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot

#1325 [eclipse/xtext#2057] update to centos-8 agent
  Jenkinsfile
Labels: releng

#1328 regen docs for 2.27
  org.eclipse.xtend.doc/contents/204_activeannotations.html
  org.eclipse.xtend.doc/gen_eclipse_help_xtend.launch
Labels: documentation

#1329 bump maven-javadoc-plugin to 3.4.0
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: releng

#1331 [eclipse/xtext-eclipse#1842] remove test failure ignore
  3-maven-tycho-build.sh
Labels: releng

#1332 no pde api
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
Labels: releng

#1333 added missing org.eclipse.xtext.testlanguages.ide/.settings/org.eclipse.core.resources.prefs
  org.eclipse.xtend.examples/.settings/org.eclipse.core.resources.prefs
  org.eclipse.xtend.ide.tests.data/.settings/org.eclipse.core.resources.prefs
  org.eclipse.xtend.m2e/.settings/org.eclipse.core.resources.prefs
  org.eclipse.xtend.standalone/.settings/org.eclipse.core.resources.prefs
  org.eclipse.xtend.swtbot/.settings/org.eclipse.core.resources.prefs
  releng/org.eclipse.xtend.target/.settings/org.eclipse.core.resources.prefs
Labels: releng

#1334 fix maven-verifier deprecations
  org.eclipse.xtend.maven.plugin/src/test/java/org/eclipse/xtend/maven/XtendCompilerMojoIT.java
  org.eclipse.xtend.maven.plugin/src/test/java/org/eclipse/xtend/maven/XtendCompilerMojoTraceIT.java
Labels: releng

#1327 [eclipse/xtext#2053] Update to ASM 9.3 [eclipse/xtext#2039] Update to Orbit 2022-06
  NOTICE.md
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-oxygen.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-photon.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201809.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201812.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201903.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201906.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201909.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201912.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202003.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202006.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202009.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202012.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202103.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202106.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202109.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202112.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202203.target
Labels: releng

#1319 [eclipse/xtext#2055]simplify dependencies to asm
  org.eclipse.xtend.maven.plugin/pom.xml
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-oxygen.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-photon.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201809.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201812.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201903.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201906.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201909.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201912.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202003.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202006.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202009.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202012.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202103.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202106.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202109.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202112.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202203.target
Labels: releng

#1335 fixed warning
  org.eclipse.xtend.examples/.classpath
Labels: releng

#1336 update to MWE 2.13.0.M2
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng
