Repository eclipse/xtext-xtend, pull requests merged in 2022-09, with the labels that each got.

#1378 [eclipse/xtext#2092] switch latest to 4.26 i-builds
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1379 [eclipse/xtext#2096] update to tycho 2.7.5
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1380 [eclipse/xtext#2097] remove java nature from project roots
  .classpath
  .project
  .settings/org.eclipse.jdt.core.prefs
  gradle/bootstrap-setup.gradle
Labels: releng

#1381 [eclipse/xtext#2092] update to 2022-12 in latest
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1384 ditch non used source-feature plugin. See [eclipse/xtext#2102]
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1383 [eclipse/xtext#2089] Update to Orbit 2022-12 incl new classgraph & gson
  NOTICE.md
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-oxygen.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-photon.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201809.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201812.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201903.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201906.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201909.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r201912.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202003.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202006.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202009.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202012.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202103.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202106.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202109.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202112.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202203.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202206.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202209.target
Labels: releng

#1386 [eclipse/xtext-extras#803] Fixed imported name tracking in Xbase
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/resource/ImportedNamesTest.xtend
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/resource/ImportedNamesTest.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/resource/XtendResourceDescription.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/resource/XtendResourceDescriptionManager.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/scoping/LocalResourceFilteringTypeScope.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/scoping/RecordingTypeScope.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/scoping/TypeScopeWithWildcardImports.java
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/scoping/XtendImportedNamespaceScopeProvider.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/resource/XtendResourceDescription.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/resource/XtendResourceDescriptionManager.java
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: bug

#1388 [#1387] Remove outdated JavaDoc location from XtendLibCPContainer
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/buildpath/XtendClasspathContainer.java
Labels: technical_debt
