Repository eclipse/xtext-xtend, pull requests merged in 2022-11, with the labels that each got.

#1397 switch compiler level default to 11
  org.eclipse.xtend.maven.plugin/src/main/java/org/eclipse/xtend/maven/AbstractXtendCompilerMojo.java
Labels: releng

#1396 clean java 11 guards in tests
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/ConfiguredCompilerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/batch/TestBatchCompiler.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/imports/ImportsCollectorTests.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/typesystem/BoundTypeArgumentMergerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/typesystem/CommonSuperTypeTest.xtend
  org.eclipse.xtend.core.tests/testdata/testdata/ClassWithEnum.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/ConfiguredCompilerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/batch/TestBatchCompiler.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/imports/ImportsCollectorTests.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/typesystem/BoundTypeArgumentMergerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/typesystem/CommonSuperTypeTest.java
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/contentassist/Bug435184Test.xtend
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/contentassist/ContentAssistInElseBlockTest.java
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/contentassist/ContentAssistInLambdaTest2.java
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/contentassist/DataContentAssistTest.xtend
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/hover/JvmAnnotationReferencePrinterTest.xtend
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/hover/XtendHoverDocumentationProviderTest.xtend
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/contentassist/Bug435184Test.java
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/contentassist/DataContentAssistTest.java
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/hover/JvmAnnotationReferencePrinterTest.java
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/hover/TestingXbaseHoverProvider.java
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/hover/XtendHoverDocumentationProviderTest.java
Labels: releng

#1398 [eclipse/xtext#2106] Update to MWE 2.14.0.M1
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1399 regen docs for 2022-12
  org.eclipse.xtend.doc/contents/204_activeannotations.html
Labels: releng

#1400 use fixed asm 9.4 version from orbit m3
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202203.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202206.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202209.target
Labels: releng

#1401 bump maven-plugin-plugin
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: releng

#1402 [#1391] switch test to java 11
  org.eclipse.xtend.maven.plugin/src/test/java/org/eclipse/xtend/maven/XtendInstallDebugInfoMojoIT.java
  org.eclipse.xtend.maven.plugin/src/test/resources/it/install_debug_info/simple_smap/pom.xml
Labels: releng

#1403 use tycho 2.7.5 everywhere
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1404 Removed JavaConverter and fixed some deprecations
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/java8/javaconverter/Java8ConverterTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/javaconverter/JavaCodeAnalyzerTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/javaconverter/JavaConverterTest.xtend
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/javaconverter/JavaFileConverterTest.xtend
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/java8/javaconverter/Java8ConverterTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/javaconverter/JavaCodeAnalyzerTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/javaconverter/JavaConverterTest.java
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/javaconverter/JavaFileConverterTest.java
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/formatting2/RichStringFormatter.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/javaconverter/ASTFlattenerUtils.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/javaconverter/ASTParserFactory.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/javaconverter/JavaASTFlattener.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/javaconverter/JavaCodeAnalyzer.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/javaconverter/JavaConverter.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/macro/CompilationContextImpl.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/macro/ParallelFileSystemSupport.xtend
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/macro/declaration/ChangeListenerAddingFileSystemSupport.xtend
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/formatting2/RichStringFormatter.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/formatting2/RichStringToLineModel.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/javaconverter/ASTFlattenerUtils.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/javaconverter/ASTParserFactory.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/javaconverter/JavaASTFlattener.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/javaconverter/JavaCodeAnalyzer.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/javaconverter/JavaConverter.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/CompilationContextImpl.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/ParallelFileSystemSupport.java
  org.eclipse.xtend.core/xtend-gen/org/eclipse/xtend/core/macro/declaration/ChangeListenerAddingFileSystemSupport.java
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/findrefs/JdtFindReferencesTest.xtend
  org.eclipse.xtend.ide.tests/src/org/eclipse/xtend/ide/tests/validation/XtendUIValidationTests.xtend
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/findrefs/JdtFindReferencesTest.java
  org.eclipse.xtend.ide.tests/xtend-gen/org/eclipse/xtend/ide/tests/validation/XtendUIValidationTests.java
  org.eclipse.xtend.ide/plugin.xml
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/XtendUiModule.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/builder/UIResourceChangeRegistry.xtend
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/contentassist/TemplateProposalProvider.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/editor/RichStringAwareSourceViewer.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/formatting/preferences/AbstractProfileManager.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/formatting/preferences/FormatterConfigurationBlock.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/formatting/preferences/LineWrapTab.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/formatting/preferences/XtendFormatterPreview.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/javaconverter/ConversionProblemsDialog.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/javaconverter/ConvertJavaCode.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/javaconverter/ConvertJavaCodeHandler.java
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/javaconverter/EclipseASTParserFactory.xtend
  org.eclipse.xtend.ide/src/org/eclipse/xtend/ide/javaconverter/PasteJavaCodeHandler.java
  org.eclipse.xtend.ide/xtend-gen/org/eclipse/xtend/ide/builder/UIResourceChangeRegistry.java
  org.eclipse.xtend.ide/xtend-gen/org/eclipse/xtend/ide/javaconverter/EclipseASTParserFactory.java
Labels: technical_debt

#1405 [eclipse/xtext#2112] Fix Orbit signing problem
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202203.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202206.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202209.target
Labels: releng

#1408 [releng] Bootstrap against 2.29.0.M3
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot

#1406 [eclipse/xtext#2112] switch back to orbit 2022-12
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202203.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202206.target
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202209.target
Labels: releng

#1410 [eclipse/xtext#2107] update to mwe 2.14.0 release
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-latest.target
Labels: releng

#1413 [releng] Update Xtext version to 2.30.0
  gradle/versions.gradle
  maven-pom.xml
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/pom.xml
  org.eclipse.xtend.doc/META-INF/MANIFEST.MF
  org.eclipse.xtend.doc/pom.xml
  org.eclipse.xtend.examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/pom.xml
  org.eclipse.xtend.examples/projects/xtend-annotation-examples-client/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/pom.xml
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/pom.xml
  org.eclipse.xtend.ide.tests.data/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests.data/pom.xml
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/pom.xml
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/pom.xml
  org.eclipse.xtend.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtend.m2e/pom.xml
  org.eclipse.xtend.maven.archetype/pom.xml
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  org.eclipse.xtend.performance.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.performance.tests/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtend.standalone/pom.xml
  org.eclipse.xtend.swtbot/META-INF/MANIFEST.MF
  org.eclipse.xtend.swtbot/pom.xml
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.p2-repository/category.xml
  releng/org.eclipse.xtend.p2-repository/pom.xml
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
  tycho-pom.xml
Labels: releng, bot

#1414 [releng] Bootstrap against 2.29.0
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot

#1415 [eclipse/xtext#2120] prepare r202212 target
  Jenkinsfile
  releng/org.eclipse.xtend.target/org.eclipse.xtend.target-r202212.target
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng

#1407 [#646] Fix Maven deprecations and drop Java 8 support
  org.eclipse.xtend.core/src/org/eclipse/xtend/core/compiler/batch/XtendBatchCompiler.java
  org.eclipse.xtend.maven.plugin/src/main/java/org/eclipse/xtend/maven/AbstractXtendCompilerMojo.java
Labels: releng
