Repository eclipse/xtext-xtend, pull requests merged in 2023-02, with the labels that each got.

#1448 bump maven-enforcer-plugin
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: releng

#1450 bump maven-javadoc-plugin
  releng/org.eclipse.xtend.maven.parent/pom.xml
Labels: releng

#1451 [releng] Bootstrap against 2.30.0.M3
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot

#1452 [eclipse/xtext-xtend#1005] Tests for regression in type inference
  org.eclipse.xtend.core.tests/src/org/eclipse/xtend/core/tests/compiler/CompilerBug1005Test.xtend
  org.eclipse.xtend.core.tests/xtend-gen/org/eclipse/xtend/core/tests/compiler/CompilerBug1005Test.java
Labels: bug

#1454 [eclipse/xtext#2138] update to gradle 7.6.1
  gradle/wrapper/gradle-wrapper.properties
Labels: releng

#1455 [releng] Bootstrap against 2.30.0.RC1
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot

#1456 [releng] Bootstrap against 2.30.0.RC2
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot

#1457 [releng] Update Xtext version to 2.31.0
  gradle/versions.gradle
  maven-pom.xml
  org.eclipse.xtend.core.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/META-INF/MANIFEST.MF
  org.eclipse.xtend.core/pom.xml
  org.eclipse.xtend.doc/META-INF/MANIFEST.MF
  org.eclipse.xtend.doc/pom.xml
  org.eclipse.xtend.examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/pom.xml
  org.eclipse.xtend.examples/projects/xtend-annotation-examples-client/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-annotation-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.examples/projects/xtend-examples/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.common/pom.xml
  org.eclipse.xtend.ide.swtbot.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.swtbot.tests/pom.xml
  org.eclipse.xtend.ide.tests.data/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests.data/pom.xml
  org.eclipse.xtend.ide.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide.tests/pom.xml
  org.eclipse.xtend.ide/META-INF/MANIFEST.MF
  org.eclipse.xtend.ide/pom.xml
  org.eclipse.xtend.m2e/META-INF/MANIFEST.MF
  org.eclipse.xtend.m2e/pom.xml
  org.eclipse.xtend.maven.archetype/pom.xml
  org.eclipse.xtend.maven.plugin/pom.xml
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  org.eclipse.xtend.performance.tests/META-INF/MANIFEST.MF
  org.eclipse.xtend.performance.tests/pom.xml
  org.eclipse.xtend.standalone/META-INF/MANIFEST.MF
  org.eclipse.xtend.standalone/pom.xml
  org.eclipse.xtend.swtbot/META-INF/MANIFEST.MF
  org.eclipse.xtend.swtbot/pom.xml
  releng/org.eclipse.xtend.maven.parent/pom.xml
  releng/org.eclipse.xtend.p2-repository/category.xml
  releng/org.eclipse.xtend.p2-repository/pom.xml
  releng/org.eclipse.xtend.target/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
  releng/org.eclipse.xtend.tycho.tests.parent/pom.xml
  tycho-pom.xml
Labels: releng, bot

#1458 [releng] Bootstrap against 2.30.0
  gradle/versions.gradle
  org.eclipse.xtend.maven.plugin/src/test/resources/it/pom.xml
  releng/org.eclipse.xtend.tycho.parent/pom.xml
Labels: releng, bot
